#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #222;
  color: #fff;
}

form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.input-form{
  width: 67%;
}
.btns{
  display: flex;
}

span{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
  }

.tascaCompleta{
  display: flex;
  margin-bottom: 1%;
  justify-content: space-between;
  background-color: #36a530;
  align-items: center;
}
.tascaNoCompletada{
  display: flex;
  margin-bottom: 1%;
  justify-content: space-between;
  background-color: #ba2b2b;
  align-items: center;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
